@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;600&display=swap');

body {
    position: relative;
    text-align: center;
    justify-content: center;
    top: 30vh;
    transition: 0.25s;
}

img {
    transition: 1s;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: black;
    transition: 0.25s;
}

.button {
    border: rgb(73, 73, 73) solid 3px;
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.25s;
}

